.conference-slider {
  div {
    .flexslider {
      .slides {
        min-height: 512px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        list-style: none;
      }
    }
  }
}
